.input {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.43rem;

  background-color: #ebebfc;
  border: 2px solid #6363db;
  outline: none;

  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  color: #6363db;

  text-align: center;
  align-items: center;
}
