.letter {
  border-radius: 0.62rem;
  background-color: #f0f0f0;

  width: 2.75rem;
  height: 2.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  font-weight: 700;
  font-weight: 700;
  color: #6363db;

  text-transform: uppercase;
}

.letterSmall {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.43rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #6363db;
}

.letterCorrect {
  background-color: #e1f5fe;
  border-color: #03ab4f;

  color: #03ab4f;
}
.letterWrong {
  background-color: #ffcf62;
  border-color: #691b0a;
  color: #691b0a;
}
