.tip {
  width: 100%;
  background-color: #ebebfc;
  color: #4f4fb9;

  border-radius: 0.62rem;
  padding: 0.75rem;

  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.tip h3 {
  font-size: 1.12rem;
  font-weight: 700;
}
.tip p {
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.tip > img {
  height: 1.75rem;
}
