.letterUsed {
  width: 100%;
  margin-top: 2.5rem;
  border-top: 1px solid #c3c3c3;
}

.letterUsed > h5 {
  color: #32325f;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0.75rem 0;
}

.letterUsed > div {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}
