.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > img {
  height: 3rem;
}

.container > header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.container > header > button {
  background: transparent;
  border: none;
}

.container > header > button > img:hover {
  scale: 1.3;
}

.container > header > button > img {
  height: 2rem;
  transition: scale 0.5s;
}

.container > header > span {
  font-size: 1rem;
  color: #9b9b9b;
}

.container > header > span > strong {
  font-size: 1.25rem;
  color: #e8891c;
}

.container > header > button {
  outline: none;
}
