.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container > main {
  width: 500px;
  max-width: 90vw;
  background-color: #fff;

  padding: 1.5rem;
  padding-top: 3rem;
  border-radius: 0.75rem;
}
.container > main > .letters {
  width: 100%;
  display: flex;
  gap: 0.75rem;
  margin: 2rem 0;
  justify-content: center;
  flex-wrap: wrap;
}

.inputContainer {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}
