#root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5fa;
}
button {
  cursor: pointer;
  transition: filter 0.2s;
}
button:hover {
  filter: brightness(0.9);
}

/*global*/
